#Entete
{
    display: flex;
    background-color: Red;
}


#Bandeau
{
    display: flex;
    flex-direction: column;
    background-color: orangered;
}

#Filtres
{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#Combo
{
    display: flex;
    justify-content: space-between;
}


#Hébergement
{
    display: flex;
    flex-direction: column;
    background-color: purple;
    height: auto;
    width: 65%;
}

#Populaire
{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: auto;
    width: 30%;
}

#Activités
{
    display: flex;
    background-color: blue;
}

#Footer
{
    display: flex;
    background-color: green;
}


.row-H
{
    display: flex;
    justify-content: space-around;
}

.col-H
{
    height: 300px;
    width: 200px;
}

.row-P
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.col-P
{
    height: 300px;
    width: 200px;
}

.row-F
{
    display: flex;
}

.col-F
{
    justify-items: center;
    width: 33%;
}



.Popu {
    max-width: 100%;
    height: 100px;
}

.Heb
{
    max-width: 100%;
    height: 100px;
}